Makefile
Makefile.in
autom4te.cache
configure
config.h.in*
m4
aclocal.m4
ar-lib
compile
config.guess
config.h
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.deps
.libs
*.lo
*.o
*.la
tests/cli_test
tests/ucl_test
tests/cfg_test
tests/cfg_test1
